<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Programa Victimas del conflicto</title>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/estilos.css" rel="stylesheet">
        <link  href="/static/img/favicon.ico" rel="shortcut icon">
	</head>
	<body>
		<header>
			<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion-fm">
							<span class="sr-only">Desplegar / ocultar menu</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="#" class="navbar-brand">ProViCo</a>	
					</div>
					<div class="collapse navbar-collapse" id="navegacion-fm">
						<ul class="nav navbar-nav">
                            <li role="presentation" class="dropdown">
							    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Estructuracion <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{%  url 'registrousu' %}">Registro de usuarios</a></li>
                                    <li><a href="{%  url 'registroben' %}">Ingresar beneficiarios</a></li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown">
							    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Informes <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{%  url 'informeben' %}">Informes beneficiarios</a></li>
                                    <li><a href="{%  url 'informeusu' %}">Auditoria de usuarios</a></li>
                                </ul>
                            </li>
							<li><a href="{%  url 'login' %}">Salir</a></li>
						</ul>

					</div>
				</div>	
			</nav>
		</header>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h1><span class="glyphicon glyphicon-user"></span></h1>
                        <h3>Registro de usuarios</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h1><span class="glyphicon glyphicon-file"></span></h1>
                        <h3>Informes de Usuarios</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h1><span class="glyphicon glyphicon-ok-sign data-wow-delay="></span></h1>
                        <h3>Registro de Beneficiarios</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h1><span class="glyphicon glyphicon-list-alt"></span></h1>
                        <h3>Informes de Beneficiarios</h3>
                    </div>
                </div>
            </div>
			</div>
        <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'search' %}">
                <div class="input-group">
                    <input type="text" name="filter" class="form-control" id ="txtBuscar" placeholder="Buscar por ...">
                    <span class="input-group-btn">
                      <button id="btnBuscar"  class="btn btn-default" type="submit">Ir!</button>
                    </span>
                </div><!-- /input-group -->
        </form>


		<section class="main container"></section>
		<footer>
		</footer>
		<script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
	</body>
</html>