<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Programa Victimas del conflicto</title>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/estilos.css" rel="stylesheet" >
        <link  href="/static/img/favicon.ico" rel="shortcut icon">
	</head>
	<body>
		<header>
			<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion-fm">
							<span class="sr-only">Desplegar / ocultar menu</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="#" class="navbar-brand">ProViCo</a>	
					</div>
					<div class="collapse navbar-collapse" id="navegacion-fm">
						<ul class="nav navbar-nav">
							<li class="active"><a href="{%  url 'index' %}">Inicio</a></li>
                            <li role="presentation" class="dropdown">
							    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Programa de Atencion a Victimas <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">Beneficiarios</li>
                                    <li><a href="{%  url 'registroben' %}">Ingresar beneficiarios</a></li>
                                    <li><a href="{%  url 'informeben' %}">Informes beneficiarios</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Usuarios</li>
                                    <li><a href="{%  url 'registrousu' %}">Registro de usuarios</a></li>
                                    <li><a href="{%  url 'informeusu' %}">Auditoria de usuarios</a></li>
                                </ul>
                            </li>
							<li><a href="{%  url 'ingreso' %}">Ingrese</a></li>
							<li><a href="#">Contactenos</a></li>
						</ul>

					</div>
				</div>	
			</nav>
		</header>
        <div class="container">

            <div class="starter-template">
                <h1 align="center">Registro de Usuarios</h1>
                <p class="lead">Registre a continuacion los usuarios que tendran acceso a la plataforma. Asigne el perfil que tendra el usuario:<br>

                </p>
            </div>

    </div><!-- /.container -->
		<form class="registry" method="post" action="">
            {% csrf_token %}
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-3"></div>
                    <div class="col-md-5">

                        <div class="form-group"><h4>
                            <label for="exampleInputnomre">Nombre</label>
                            <input type="text" class="form-control" name="nombre" placeholder="Nombre"></h4>
                        </div>
                        <div class="form-group"><h4>
                            <label for="exampleInputapellidos">Apellidos</label>
                            <input type="text" class="form-control" name="apellidos" placeholder="Apellidos"></h4>
                        </div>
                        <div class="form-group"><h4>
                            <label for="exampleInputapellidos">Cedula</label>
                            <input type="text" class="form-control" name="cedula" placeholder="Numero de cedula"></h4>
                        </div>
                        <div class="form-group"><h4>
                            <label for="exampleInputEmail1">Correo electronico</label>
                            <input type="email" class="form-control" name="email" placeholder="Email"></h4>
                        </div>
                        <div class="form-group"><h4>
                            <label for="exampleInputPassword1">Constraseña</label>
                            <input type="password" class="form-control" name="password" placeholder="Password"></h4>
                        </div>
                        <div class="form-group"><h4>
                            <label for="exampleInputPassword1">Confirma tu contraseña</label>
                            <input type="password" class="form-control" name="repassword" placeholder="Password"></h4>
                        </div>
                        <div class="form-group"><h4>
                            <label for="exampleInputapellidos">Permisos</label>
                            <select class="form-control">
                                <option selected disabled>Seleccione Perfil</option>
                                <option>Administrador</option>
                                <option>Consultor</option>
                                <option>Auxiliar</option>
                            </select>
                        </div>
                        <div>
                            <p>
                                <button type="submit" class="btn btn-primary btn-lg">Registrarse</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </form>

		<footer>

		</footer>
		<script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
	</body>
</html>