<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Programa Victimas del conflicto</title>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/estilos.css" rel="stylesheet" >
        <link  href="/static/img/favicon.ico" rel="shortcut icon">
        <link href="/static/css/datepicker.css" rel="stylesheet">
	</head>
	<body>
		<header>
			<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion-fm">
							<span class="sr-only">Desplegar / ocultar menu</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="#" class="navbar-brand">ProViCo</a>
					</div>
					<div class="collapse navbar-collapse" id="navegacion-fm">
						<ul class="nav navbar-nav">
							<li><a href="{%  url 'principal' %}">Inicio</a></li>
                            <li role="presentation" class="dropdown">
							    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Beneficiarios <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{%  url 'registroben' %}">Ingresar beneficiarios</a></li>
                                    <li><a href="{%  url 'informeben' %}">Informes beneficiarios</a></li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown">
							    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Usuarios <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{%  url 'registrousu' %}">Registro de usuarios</a></li>
                                    <li><a href="{%  url 'informeusu' %}">Auditoria de usuarios</a></li>
                                </ul>

                            </li>
                            <li class="active">
                   <a href="#" class="not-active">
                      Bienvenid@, {{ user.first_name }}
                    </a>
                  </li>
						</ul>
                        <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a href="/login" >
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Salir
                    </a>
                  </li>

            </ul>
					</div>
				</div>
			</nav>
		</header>

    <div class="container">

    {%  block content %}



    {% endblock %}

      
    </div>
        {% include 'footer.html' %}


		<script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
         {%  block javascript %}



        {% endblock %}
	</body>
</html>
